@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:active {
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-thumb {
  border-radius: 13px;
  background-color: #0891B2;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #09A8CF;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #09A8CF;
}

